<html>
<head>
    <meta charset="UTF-8">
    <title>Demo React</title>
    <style media="screen">
        .active {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div id="root"></div>
    <script src="bundle.js"></script>
</body>
</html>
